.container-img {
   display: flex;
   align-items: center;
   margin-left: 25px;
}

.container-img img {
   width: 263px;
   border-radius: 30%;
}

.container-information{
   font-family: 'Zen Kaku Gothic New', sans-serif;
}

