.container-input {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.input {
   margin-bottom: 10px;
   padding: 14px 42px;
   width: 276px;
   border-radius: 10px;
   border: 0.5px solid gray;
   font-size: 17px;
}

.character-card {
   width: 200px;
   /* height: auto; */
   background-color: burlywood;
   display: inline-block;
   margin-right: 20px;
   margin-bottom: 20px;
}

.character-card .character-information img {
   width: 100%;
}

.character-card .character-information h1 {
   font-size: 20px;
}

.PageNumbers{
   list-style: none;
   display: flex;
   justify-content: center;
}

.PageNumbers li{
   padding: 10px;
   border: 1px solid white;
   cursor: pointer;
}

@media (min-width: 320px) and (max-width:750px) {
   .container-input{
      margin-top: 20%;
   }
   .items-marvel{
      margin-bottom: 8px !important;
      display:block !important;
      position: relative !important;
      left: 19% !important;
   }
}


