.btn-primary{
   text-align: center;
   font-size: 15px;
   color: black;
   background-color: transparent;
   border-color: transparent;
   text-decoration: underline;
}

.btn-primary:hover {
   background-color:transparent;
   border-color: transparent;
   color: black;
}
