.Login-Image {
   margin-bottom: 20px;
}

.Login-Image img{
   width:700px;
}

.Login button{
   border-radius: 10px;
    border: none;
    /* width: 75px; */
    padding: 1px 7px;
    font-size: 21px;
    font-family: ui-rounded;
}

@media (min-width: 320px) and (max-width:425px) {  
   .Login-Image img {
      width: 93%;
   }
}